In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
## Importing the OS and JSON Modules
import os,json
## Example
from sqlalchemy.types import *
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

In [2]:
tmdb_data = pd.read_csv('tmdb_results_combined.csv.gz')
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,status,tagline,title,video,vote_average,vote_count,certification,yes_budget,yes_revenue,finances
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN,True,False,True
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.10,8.0,NaN,False,False,False
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,Released,NaN,Gang,0.0,4.00,1.0,NaN,False,False,False
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.11,2162.0,PG,True,True,True

In [3]:
tmdb_data = tmdb_data[['imdb_id', 'revenue', 'budget', 'certification']]
tmdb_data.head()

     imdb_id     revenue      budget certification
0          0         NaN         NaN           NaN
1  tt0113026         0.0  10000000.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694  12854953.0    150000.0            PG

In [4]:
title_basics = pd.read_csv('Data/title_basics.csv.gz')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [5]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88696 entries, 0 to 88695
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          88696 non-null  object
 1   titleType       88696 non-null  object
 2   primaryTitle    88696 non-null  object
 3   originalTitle   88696 non-null  object
 4   isAdult         88696 non-null  int64
 5   startYear       86185 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  88696 non-null  int64
 8   genres          88696 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.1+ MB

In [6]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1967
1  tt0000002            5.8       263
2  tt0000003            6.5      1803
3  tt0000004            5.6       179
4  tt0000005            6.2      2603

## Normalizing Data

In [7]:
## create a col with a list of genres
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
88691,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
88692,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
88693,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [8]:
exploded_genres = title_basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [9]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [10]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [11]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [12]:
## make new integer genre_id and drop string genres
title_basics['genre_id'] = title_basics['genres_split'].replace(genre_map)
title_basics = title_basics.drop(columns='genres_split')

In [13]:
genres = pd.DataFrame({'Genre_Name' : genre_map.keys(),
                            'Genre_ID' : genre_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [14]:
# Drop unnecessary columns
title_basics = title_basics.drop(columns = ['originalTitle', 'isAdult', 'titleType', 'genres', 'genre_id'])
title_basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0088751,The Naked Monster,2005.0,NaN,100
4,tt0096056,Crime and Punishment,2002.0,NaN,126

## Saving MySQL Tables

In [15]:
title_basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
endYear           float64
runtimeMinutes      int64
dtype: object

In [16]:
genres.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [17]:
title_genres.dtypes

tconst          object
genres_split    object
dtype: object

In [18]:
tmdb_data.dtypes

imdb_id           object
revenue          float64
budget           float64
certification     object
dtype: object

In [19]:
title_ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

### Creating a Datatype Schema

In [20]:
## Title Basics
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [21]:
## Title Genres
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = title_genres['genres_split'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_genres_schema = {
    "tconst": String(key_len+1), 
    "genres_split": Text(title_len+1)}

In [22]:
## TMDB Data
key_len = tmdb_data['imdb_id'].fillna('').map(len).max()
title_len = tmdb_data['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
tmdb_data_schema = {
    "imdb_id": String(key_len+1), 
    "certification": Text(title_len+1),
    "revenue" : Float(),
    "budget" : Float()}

In [23]:
## Title Ratings
key_len = title_ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_ratings_schema = {
    "tconst": String(key_len+1), 
    'averageRating':Float(),
    'numVotes':Integer()}

### Create Database in Python

In [24]:
connection = "mysql+pymysql://root:AlsamniC032497@localhost/movies"

In [25]:
engine = create_engine(connection)

In [26]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [27]:
# Save to sql with dtype and index=False
title_basics.to_sql('title_basics',engine,dtype=title_basics_schema,if_exists='replace',index=False)

88696

In [28]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [29]:
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',index=False)

164923

In [30]:
tmdb_data.to_sql('tmdb_data',engine,dtype=tmdb_data_schema,if_exists='replace',index=False)

2544

In [31]:
title_ratings.to_sql('title_ratings',engine,dtype=title_ratings_schema,if_exists='replace',index=False)

1294594

In [32]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [33]:
title_genres.to_sql('title_genres', engine, if_exists = 'replace', index=False)

164923

## SQL Queries

In [34]:
# Title Basics
q = """SELECT 
    *
FROM
    title_basics
LIMIT 5;"""
pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,None,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70
2,tt0069049,The Other Side of the Wind,2018.0,None,122
3,tt0088751,The Naked Monster,2005.0,None,100
4,tt0096056,Crime and Punishment,2002.0,None,126

In [35]:
# Title genres
q = """SELECT 
    *
FROM
    title_genres
LIMIT 5;"""
pd.read_sql(q, engine)

      tconst genres_split
0  tt0035423       Comedy
1  tt0035423      Fantasy
2  tt0035423      Romance
3  tt0062336        Drama
4  tt0069049        Drama

In [36]:
# TMDB Data
q = """SELECT 
    *
FROM
    tmdb_data
LIMIT 5;"""
pd.read_sql(q, engine)

     imdb_id     revenue      budget certification
0          0         NaN         NaN          None
1  tt0113026         0.0  10000000.0          None
2  tt0113092         0.0         0.0          None
3  tt0116391         0.0         0.0          None
4  tt0118694  12855000.0    150000.0            PG

In [37]:
# Title Ratings
q = """SELECT 
    *
FROM
    title_ratings
LIMIT 5;"""
pd.read_sql(q, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1967
1  tt0000002            5.8       263
2  tt0000003            6.5      1803
3  tt0000004            5.6       179
4  tt0000005            6.2      2603

In [38]:
# Show all tables
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0     title_basics
1     title_genres
2    title_ratings
3        tmdb_data

## Loading More Data

In [39]:
from tqdm.notebook import tqdm_notebook
import seaborn as sns

In [40]:
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
           info['certification'] = c['certification']
    return(info)

In [41]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [42]:
import json
with open('/Users/Alex/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [43]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [44]:
test = get_movie_with_rating("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 149.968,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.708,
 'vote_count': 28437,
 'certification': 'PG-13'}

In [45]:
YEARS_TO_GET = [2002,2003,2004,2005,2006,2007,2008,2009,2010]

In [46]:
errors = [ ]

In [47]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['final_tmdb_data_2006.csv.gz',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2006.json',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'title_basics.csv.gz',
 'tmdb_combined.csv.gz',
 'tmdb_api_results_2002.json',
 'final_tmdb_data_2007.csv.gz',
 'tmdb_api_results_2003.json',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2008.json',
 'title_akas.csv.gz',
 'tmdb_api_results_2009.json',
 'final_tmdb_data_2003.csv.gz',
 'tmdb_api_results_2005.json',
 'title_ratings.csv.gz']

In [48]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [ ]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    print(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
     #save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
        

    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    
    

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    print(previous_df)
    
    

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    

    # INNER Loop
    
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                 desc=f'Movies from {YEAR}',
                                 position = 1,
                                 leave = True):
            try:
                # Retrieve then data for the movie id
                temp = get_movie_with_rating(movie_id)  
                # Append/extend results to existing file using a pre-made function
                write_json(temp,JSON_FILE)
                # Short 20 ms sleep to prevent overwhelming server
                time.sleep(0.02)
            except Exception as e:
                errors.append([movie_id, e])

    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/9 [00:00<?, ?it/s]

Data/tmdb_api_results_2002.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0096056    0.0  /95U3MUDXu4xSCmVLtWgargRipDi.jpg
2     tt0118926    0.0  /qR3Dk3ctnrrxkAI6I472RhamIbu.jpg
3     tt0119980    0.0                              None
4     tt0120679    0.0  /s04Ds4xbJU7DzeGVyamccH4LoxF.jpg
...         ...    ...                               ...
1267  tt6449044    0.0  /a9pkw8stijESGx1flSGPqcXLkHu.jpg
1268  tt6694126    0.0  /sXjVpTZyDvwzPVZve3AmyCUBeHk.jpg
1269  tt8302928    0.0                              None
1270  tt8474326    0.0                              None
1271  tt8825252    0.0                              None

                                  belongs_to_collection      budget  \
0                                                   NaN         NaN
1                                                  None         0.0
2                                                  None         0.0
3                                                  None         0.0
4                                                  None  12000000.0
...                                                 ...         ...
1267  {'id': 957260, 'name': 'The Conman Collection'...         0.0
1268                                               None         0.0
1269                                               None         0.0
1270                                               None         0.0
1271                                               None         0.0

                                                 genres  \
0                                                   NaN
1                         [{'id': 18, 'name': 'Drama'}]
2     [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
3     [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
4     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
...                                                 ...
1267                     [{'id': 35, 'name': 'Comedy'}]
1268  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
1269  [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
1270                                                 []
1271                    [{'id': 14, 'name': 'Fantasy'}]

                                 homepage        id original_language  \
0                                     NaN       NaN               NaN
1                                          109809.0                en
2                                           20689.0                en
3                                          563364.0                en
4     https://www.miramax.com/movie/frida    1360.0                en
...                                   ...       ...               ...
1267                                       314105.0                cn
1268                                       819174.0                fa
1269                                       866533.0                el
1270                                       292027.0                en
1271                                       989195.0                en

                            original_title  ...     revenue  runtime  \
0                                      NaN  ...         NaN      NaN
1                     Crime and Punishment  ...         0.0    126.0
2                      The Dancer Upstairs  ...   5227348.0    132.0
3                    Random Shooting in LA  ...         0.0     91.0
4                                    Frida  ...  56298474.0    123.0
...                                    ...  ...         ...      ...
1267                                賭俠2002  ...         0.0     97.0
1268                          عروس خوش‌قدم  ...         0.0    101.0
1269          Movie Toons: Treasure Island  ...         0.0      0.0
1270           Skin Eating Jungle Vampires  ...         0.0      0.0
1271  Circle of Fire: The Dark Lord Kylnor  ...         0.0     45.0

                                       spoken_languages    status  \
0                                                   NaN       NaN
1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3                                                    []  Released
4     [{'english_name': 'French', 'iso_639_1': 'fr',...  Released
...                                                 ...       ...
1267  [{'english_name': 'Cantonese', 'iso_639_1': 'c...  Released
1268  [{'english_name': 'Persian', 'iso_639_1': 'fa'...  Released
1269                                                 []  Released
1270                                                 []  Released
1271                                                 []  Released

                                                tagline  \
0                                                   NaN
1
2     An honest man caught in a world of intrigue, p...
3
4                                Prepare to be seduced.
...                                                 ...
1267
1268
1269
1270
1271

                                     title  video  vote_average vote_count  \
0                                      NaN    NaN           NaN        NaN
1                     Crime and Punishment    0.0         5.500       11.0
2                      The Dancer Upstairs    0.0         6.300       50.0
3                    Random Shooting in LA    0.0         0.000        0.0
4                                    Frida    0.0         7.437     1851.0
...                                    ...    ...           ...        ...
1267                       The Conman 2002    0.0         4.333        3.0
1268                       The Lucky Bride    0.0         8.000        1.0
1269          Movie Toons: Treasure Island    0.0         0.000        0.0
1270           Skin Eating Jungle Vampires    0.0         0.000        0.0
1271  Circle of Fire: The Dark Lord Kylnor    0.0         0.000        0.0

     certification
0              NaN
1              NaN
2                R
3
4                R
...            ...
1267           NaN
1268           NaN
1269
1270
1271

[1272 rows x 26 columns]

Movies from 2002:   0%|          | 0/288 [00:00<?, ?it/s]

Data/tmdb_api_results_2003.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0120607    0.0                              None
2     tt0135991    0.0                              None
3     tt0138524    0.0  /x1BTLDDijvms3Yi9NZoxxniTDGA.jpg
4     tt0140806    0.0                              None
...         ...    ...                               ...
1314  tt5896628    0.0                              None
1315  tt6066786    0.0                              None
1316  tt6188222    0.0                              None
1317  tt7246872    0.0                              None
1318  tt9641790    0.0                              None

     belongs_to_collection      budget  \
0                      NaN         NaN
1                     None         0.0
2                     None         0.0
3                     None  60000000.0
4                     None         0.0
...                    ...         ...
1314                  None         0.0
1315                  None         0.0
1316                  None         0.0
1317                  None         0.0
1318                  None       400.0

                                                 genres homepage        id  \
0                                                   NaN      NaN       NaN
1     [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...           584762.0
2     [{'id': 27, 'name': 'Horror'}, {'id': 16, 'nam...           140359.0
3     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...            11775.0
4                                                    []           281573.0
...                                                 ...      ...       ...
1314                      [{'id': 80, 'name': 'Crime'}]           852950.0
1315                  [{'id': 16, 'name': 'Animation'}]           262232.0
1316                                                 []           365592.0
1317  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...           640680.0
1318  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...           253999.0

     original_language                     original_title  ...      revenue  \
0                  NaN                                NaN  ...          NaN
1                   en                 Between The Sheets  ...          0.0
2                   en                          Dominator  ...          0.0
3                   en                Intolerable Cruelty  ...  119940815.0
4                   en                      American Reel  ...          0.0
...                ...                                ...  ...          ...
1314                en                    Harlem's Beauty  ...          0.0
1315                en  Tom and Jerry: Paws for a Holiday  ...          0.0
1316                cn                       絕種賤男之愛在三級的日子  ...          0.0
1317                en             Tokyo Bedoone Tavaghof  ...          0.0
1318                en                         Clearwater  ...          0.0

      runtime                                   spoken_languages    status  \
0         NaN                                                NaN       NaN
1       102.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2        77.0                                                 []  Released
3       100.0  [{'english_name': 'French', 'iso_639_1': 'fr',...  Released
4         0.0                                                 []  Released
...       ...                                                ...       ...
1314     95.0                                                 []  Released
1315     50.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
1316    110.0  [{'english_name': 'Cantonese', 'iso_639_1': 'c...  Released
1317     98.0  [{'english_name': 'Persian', 'iso_639_1': 'fa'...  Released
1318     60.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                                tagline  \
0                                                   NaN
1
2      Anyone who says Rock 'n' Roll is dead - WILL be!
3     They can't keep their hands off each others as...
4
...                                                 ...
1314
1315
1316
1317
1318

                                  title  video  vote_average vote_count  \
0                                   NaN    NaN           NaN        NaN
1                    Between The Sheets    0.0          0.00        0.0
2                             Dominator    0.0          1.50        2.0
3                   Intolerable Cruelty    0.0          5.92     1299.0
4                         American Reel    0.0          0.00        0.0
...                                 ...    ...           ...        ...
1314                    Harlem's Beauty    0.0          0.00        0.0
1315  Tom and Jerry: Paws for a Holiday    1.0          4.90        4.0
1316           Crazy Scum: Adult Movies    0.0          4.10       50.0
1317                    Tokyo, Non-Stop    0.0          0.00        0.0
1318                         Clearwater    0.0          0.00        0.0

     certification
0              NaN
1              NaN
2              NaN
3            PG-13
4
...            ...
1314
1315             G
1316           NaN
1317           NaN
1318

[1319 rows x 26 columns]

Movies from 2003:   0%|          | 0/355 [00:00<?, ?it/s]

Data/tmdb_api_results_2004.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0122247    0.0                              None
2     tt0146803    0.0                              None
3     tt0159290    0.0  /atFOPVD3AKSj16ImD1MJfIklf90.jpg
4     tt0167190    0.0  /qdTUAwQKQ9n7PfZeVJzs7sOP8S8.jpg
...         ...    ...                               ...
1468  tt7554314    0.0                              None
1469  tt8220504    0.0                              None
1470  tt8951904    0.0                              None
1471  tt9075726    0.0  /uzGX8JxbAAIZ4M0uJCTz0WDvqub.jpg
1472  tt9468730    0.0                              None

                                  belongs_to_collection      budget  \
0                                                   NaN         NaN
1                                                  None         0.0
2                                                  None         0.0
3                                                  None         0.0
4     {'id': 17235, 'name': 'Hellboy Collection', 'p...  66000000.0
...                                                 ...         ...
1468                                               None         0.0
1469                                               None         0.0
1470                                               None         0.0
1471                                               None         0.0
1472                                               None     50000.0

                                                 genres  \
0                                                   NaN
1     [{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...
2                         [{'id': 18, 'name': 'Drama'}]
3                         [{'id': 18, 'name': 'Drama'}]
4     [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
...                                                 ...
1468                     [{'id': 28, 'name': 'Action'}]
1469  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
1470  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
1471                     [{'id': 27, 'name': 'Horror'}]
1472                   [{'id': 53, 'name': 'Thriller'}]

                                             homepage        id  \
0                                                 NaN       NaN
1                                                       27743.0
2                                                       46730.0
3                                                      101917.0
4                                                        1487.0
...                                               ...       ...
1468                                                   519802.0
1469                                                   740572.0
1470                                                   546711.0
1471                                                   598888.0
1472  https://www.timespl.com/en/coming-soon/item/157  673396.0

     original_language            original_title  ...     revenue  runtime  \
0                  NaN                       NaN  ...         NaN      NaN
1                   en   Serial Killing 4 Dummys  ...         0.0     89.0
2                   en  Goodnight, Joseph Parker  ...         0.0      0.0
3                   nl                  Bluebird  ...         0.0     77.0
4                   en                   Hellboy  ...  99318987.0    122.0
...                ...                       ...  ...         ...      ...
1468                ar          Montasaf El Leil  ...         0.0    111.0
1469                en                    Barood  ...         0.0    142.0
1470                cn                        噩夢  ...         0.0     89.0
1471                zh                      血胎换骨  ...         0.0     94.0
1472                cn                       傷生兒  ...     50000.0     83.0

                                       spoken_languages    status  \
0                                                   NaN       NaN
1                                                    []  Released
2                                                    []  Released
3     [{'english_name': 'Dutch', 'iso_639_1': 'nl', ...  Released
4     [{'english_name': 'Russian', 'iso_639_1': 'ru'...  Released
...                                                 ...       ...
1468  [{'english_name': 'Arabic', 'iso_639_1': 'ar',...  Released
1469                                                 []  Released
1470  [{'english_name': 'Cantonese', 'iso_639_1': 'c...  Released
1471  [{'english_name': 'Cantonese', 'iso_639_1': 'c...  Released
1472  [{'english_name': 'Mandarin', 'iso_639_1': 'zh...  Released

                                                tagline  \
0                                                   NaN
1
2             When there's no place left to go but home
3     Merel, a talented young girl, is suddenly gett...
4                       From the dark side to our side.
...                                                 ...
1468
1469
1470
1471
1472

                         title  video  vote_average vote_count certification
0                          NaN    NaN           NaN        NaN           NaN
1           Serial Killing 101    0.0         5.600       11.0
2     Goodnight, Joseph Parker    0.0         0.000        0.0
3                     Bluebird    0.0         6.300        9.0           NaN
4                      Hellboy    0.0         6.658     6193.0         PG-13
...                        ...    ...           ...        ...           ...
1468                  Midnight    0.0         0.000        0.0           NaN
1469                    Barood    0.0         0.000        0.0           NaN
1470      Unplugging Nightmare    0.0         0.000        0.0           NaN
1471       Blood Of The Shaman    0.0         0.000        0.0           NaN
1472          A Jealous Sister    0.0         9.000        2.0           NaN

[1473 rows x 26 columns]

Movies from 2004:   0%|          | 0/414 [00:00<?, ?it/s]

Data/tmdb_api_results_2005.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0088751    0.0                              None
2     tt0118141    0.0  /unoJZwLGTlzKc3QkvsERVPLRnFH.jpg
3     tt0120667    0.0  /qq9ELjoyllBUMkGisZvcj0fCd43.jpg
4     tt0121164    0.0  /v23fWgJUEt8EMmvn19btIacxP8E.jpg
...         ...    ...                               ...
1650  tt7616520    0.0  /arR6NoqnFYZiFydx5OMOGzesqoM.jpg
1651  tt7696006    0.0                              None
1652  tt7775516    0.0                              None
1653  tt8294002    0.0  /6bWt2BxnMfqM3ei8T0qPp4IK706.jpg
1654  tt9292266    0.0  /ttU6Zrg9qTsBdLlgu0kC7z7gqEM.jpg

                                  belongs_to_collection       budget  \
0                                                   NaN          NaN
1                                                  None     350000.0
2                                                  None          0.0
3     {'id': 9744, 'name': 'Fantastic Four Collectio...  100000000.0
4                                                  None   40000000.0
...                                                 ...          ...
1650                                               None          0.0
1651                                               None          0.0
1652                                               None          0.0
1653                                               None          0.0
1654                                               None          0.0

                                                 genres  \
0                                                   NaN
1     [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
2     [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
3     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4     [{'id': 10749, 'name': 'Romance'}, {'id': 14, ...
...                                                 ...
1650  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
1651                     [{'id': 35, 'name': 'Comedy'}]
1652  [{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...
1653                      [{'id': 18, 'name': 'Drama'}]
1654  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...

                                         homepage        id original_language  \
0                                             NaN       NaN               NaN
1                                                   29163.0                en
2       http://www.crispinglover.com/whatisit.htm   54506.0                en
3                                                    9738.0                en
4         http://corpsebridemovie.warnerbros.com/    3933.0                en
...                                           ...       ...               ...
1650                                               792438.0                zh
1651                                               622412.0                fa
1652  https://www.youtube.com/watch?v=wDeQ9CfW9YA  939616.0                en
1653                                               793159.0                en
1654                                               812454.0                fa

                original_title  ...      revenue  runtime  \
0                          NaN  ...          NaN      NaN
1            The Naked Monster  ...          0.0    100.0
2                  What Is It?  ...          0.0     72.0
3               Fantastic Four  ...  333535934.0    106.0
4                 Corpse Bride  ...  118133252.0     77.0
...                        ...  ...          ...      ...
1650                    两个人的芭蕾  ...          0.0     93.0
1651                   زن بدلی  ...          0.0    104.0
1652  Everything Means Nothing  ...          0.0     70.0
1653              Pocket Angel  ...          0.0     82.0
1654                قتل آنلاین  ...          0.0     93.0

                                       spoken_languages    status  \
0                                                   NaN       NaN
1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
...                                                 ...       ...
1650  [{'english_name': 'Mandarin', 'iso_639_1': 'zh...  Released
1651  [{'english_name': 'Persian', 'iso_639_1': 'fa'...  Released
1652                                                 []  Released
1653  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
1654  [{'english_name': 'Persian', 'iso_639_1': 'fa'...  Released

                                                tagline  \
0                                                   NaN
1
2     The adventures of a young man whose principle ...
3     4 times the action. 4 times the adventure. 4 t...
4                There's been a grave misunderstanding.
...                                                 ...
1650
1651
1652  A hostage situation of the mind. Does anyone c...
1653
1654

                         title  video  vote_average vote_count certification
0                          NaN    NaN           NaN        NaN           NaN
1            The Naked Monster    0.0         4.000        6.0
2                  What Is It?    0.0         5.500       23.0         NC-17
3               Fantastic Four    0.0         5.772     8511.0         PG-13
4                 Corpse Bride    0.0         7.514     7906.0
...                        ...    ...           ...        ...           ...
1650     Ballet of Two Dancers    0.0         0.000        0.0           NaN
1651           Imitation Woman    0.0         0.000        0.0           NaN
1652  Everything Means Nothing    0.0        10.000        1.0           NaN
1653              Pocket Angel    0.0         0.000        0.0             G
1654             Online Murder    0.0         0.000        0.0           NaN

[1655 rows x 26 columns]

Movies from 2005:   0%|          | 0/519 [00:00<?, ?it/s]

Data/tmdb_api_results_2006.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0103340    0.0  /rhdDnrUmGamF2kk9HZUgTApms2a.jpg
2     tt0144280    0.0                              None
3     tt0197633    0.0  /1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg
4     tt0204250    0.0  /qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg
...         ...    ...                               ...
1868  tt7775532    0.0                              None
1869  tt8165062    0.0                              None
1870  tt8784950    0.0                              None
1871  tt9020558    0.0                              None
1872  tt9377936    0.0                              None

                                  belongs_to_collection    budget  \
0                                                   NaN       NaN
1                                                  None       0.0
2                                                  None  100000.0
3                                                  None       0.0
4                                                  None       0.0
...                                                 ...       ...
1868                                               None       0.0
1869  {'id': 800116, 'name': 'Survive Girls', 'poste...       0.0
1870                                               None       0.0
1871                                               None       0.0
1872                                               None       0.0

                                                 genres  \
0                                                   NaN
1                         [{'id': 18, 'name': 'Drama'}]
2                                                    []
3     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
4     [{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...
...                                                 ...
1868                     [{'id': 27, 'name': 'Horror'}]
1869                     [{'id': 27, 'name': 'Horror'}]
1870                                                 []
1871  [{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...
1872                      [{'id': 18, 'name': 'Drama'}]

                                               homepage        id  \
0                                                   NaN       NaN
1                                                        268253.0
2                                                         30356.0
3                                                         58520.0
4                                                        459563.0
...                                                 ...       ...
1868        https://www.youtube.com/watch?v=_neakMwmoCY  939621.0
1869                                                     800112.0
1870                                                     939503.0
1871  http://www.sodajerk.com.au/video_work.php?v=20...  310089.0
1872                                                     709352.0

     original_language                     original_title  ... revenue  \
0                  NaN                                NaN  ...     NaN
1                   pl  Życie za życie. Maksymilian Kolbe  ...     0.0
2                   en      Whispers from a Shallow Grave  ...     0.0
3                   en           Live Freaky! Die Freaky!  ...     0.0
4                   en              Death of a Saleswoman  ...     0.0
...                ...                                ...  ...     ...
1868                en                   Neck of da Woodz  ...     0.0
1869                ja                            Sabaibu  ...     0.0
1870                zh                               浅蓝深蓝  ...     0.0
1871                en                     Hollywood Burn  ...     0.0
1872                en                Sexual Incantations  ...     0.0

      runtime                                   spoken_languages    status  \
0         NaN                                                NaN       NaN
1        90.0  [{'english_name': 'Italian', 'iso_639_1': 'it'...  Released
2        90.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3        75.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4        77.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
...       ...                                                ...       ...
1868     72.0                                                 []  Released
1869     86.0  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
1870      0.0                                                 []  Released
1871     52.0                                                 []  Released
1872     80.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                                tagline  \
0                                                   NaN
1
2
3
4     6 housewives. 1 dead body. A trunk full of pla...
...                                                 ...
1868  Survival is all that matters when Boyz from th...
1869
1870
1871
1872

                                title  video  vote_average vote_count  \
0                                 NaN    NaN           NaN        NaN
1     Life for Life: Maximilian Kolbe    0.0         6.143       14.0
2       Whispers from a Shallow Grave    0.0         2.000        2.0
3            Live Freaky! Die Freaky!    0.0         3.800        8.0
4               Death of a Saleswoman    0.0         3.000        1.0
...                               ...    ...           ...        ...
1868                 Neck of da Woodz    0.0        10.000        1.0
1869                    Survive Girls    0.0         0.000        0.0
1870                             浅蓝深蓝    0.0         0.000        0.0
1871                   Hollywood Burn    0.0         0.000        0.0
1872              Sexual Incantations    0.0         2.000        1.0

     certification
0              NaN
1              NaN
2
3               NR
4
...            ...
1868           NaN
1869           NaN
1870           NaN
1871           NaN
1872            NR

[1873 rows x 26 columns]

Movies from 2006:   0%|          | 0/539 [00:00<?, ?it/s]

Data/tmdb_api_results_2007.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0119231    0.0                              None
2     tt0211933    0.0  /nAVntSurtINQNtYPU7ijgCtgz7W.jpg
3     tt0213985    0.0  /d9WT4FCjvB3Z6Sx2cYckdPi9rMI.jpg
4     tt0218140    0.0                              None
...         ...    ...                               ...
1917  tt9271828    0.0                              None
1918  tt9294994    0.0  /q7G7SsnOFnNugsfzOJr97JhUlo3.jpg
1919  tt9609716    0.0                              None
1920  tt9643108    0.0  /zBXF10KsBVTCLivZIftV8tklsi6.jpg
1921  tt9905770    0.0                              None

     belongs_to_collection      budget  \
0                      NaN         NaN
1                     None         0.0
2                     None  86000000.0
3                     None         0.0
4                     None         0.0
...                    ...         ...
1917                  None         0.0
1918                  None         0.0
1919                  None         0.0
1920                  None         0.0
1921                  None         0.0

                                                 genres homepage        id  \
0                                                   NaN      NaN       NaN
1                        [{'id': 35, 'name': 'Comedy'}]           107182.0
2     [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...            13483.0
3     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...            14608.0
4                                                    []           316153.0
...                                                 ...      ...       ...
1917                [{'id': 99, 'name': 'Documentary'}]           561544.0
1918  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...           802864.0
1919                     [{'id': 27, 'name': 'Horror'}]           360609.0
1920                      [{'id': 18, 'name': 'Drama'}]           592305.0
1921                                                 []           605638.0

     original_language          original_title  ...     revenue  runtime  \
0                  NaN                     NaN  ...         NaN      NaN
1                   en    The Junior Defenders  ...         0.0     82.0
2                   en                   Awake  ...  14373825.0     84.0
3                   en               Partition  ...         0.0    116.0
4                   en         Death and Taxis  ...         0.0      0.0
...                ...                     ...  ...         ...      ...
1917                en  Fred Baker - filmmaker  ...         0.0     59.0
1918                fa                  اقلیما  ...         0.0    100.0
1919                cn                    一樓1鬼  ...         0.0     90.0
1920                ja                  国道20号線  ...         0.0     77.0
1921                zh             Du sheng zi  ...         0.0     70.0

                                       spoken_languages    status  \
0                                                   NaN       NaN
1                                                    []  Released
2     [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4                                                    []  Released
...                                                 ...       ...
1917                                                 []  Released
1918  [{'english_name': 'Persian', 'iso_639_1': 'fa'...  Released
1919  [{'english_name': 'Cantonese', 'iso_639_1': 'c...  Released
1920  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
1921  [{'english_name': 'Mandarin', 'iso_639_1': 'zh...  Released

                                                tagline  \
0                                                   NaN
1
2     Every year, one in 700 people wake up during s...
3
4
...                                                 ...
1917
1918
1919
1920
1921

                                                  title  video  vote_average  \
0                                                   NaN    NaN           NaN
1                                  The Junior Defenders    0.0         3.000
2                                                 Awake    0.0         6.470
3                                             Partition    0.0         6.295
4                                       Death and Taxis    0.0         0.000
...                                                 ...    ...           ...
1917                             Fred Baker - filmmaker    0.0         0.000
1918                                            Eghlima    1.0         0.000
1919                            House of the Invisibles    0.0         0.000
1920                         The Route 20 National Road    0.0         5.000
1921  Only Child, Upward, Downward, Forward, Backwar...    0.0         0.000

     vote_count certification
0           NaN           NaN
1           1.0
2        1197.0             R
3          22.0             R
4           0.0
...         ...           ...
1917        0.0
1918        0.0           NaN
1919        0.0           NaN
1920        3.0           NaN
1921        0.0           NaN

[1922 rows x 26 columns]

Movies from 2007:   0%|          | 0/639 [00:00<?, ?it/s]

Data/tmdb_api_results_2008.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0119970    0.0                              None
2     tt0177636    0.0                              None
3     tt0200465    0.0  /ynnarxTMs8jWKV9GK0SpUhGNCgH.jpg
4     tt0211946    0.0  /8ZoW4hwuTWxKWDezkoUGBVvyxj5.jpg
...         ...    ...                               ...
2141  tt6857302    0.0  /rOADFIydnng08PCvkRYqZPUTruV.jpg
2142  tt7257986    0.0                              None
2143  tt7534620    0.0                              None
2144  tt8598776    0.0                              None
2145  tt9345114    0.0                              None

     belongs_to_collection      budget  \
0                      NaN         NaN
1                     None         0.0
2                     None         0.0
3                     None  20000000.0
4                     None         0.0
...                    ...         ...
2141                  None         0.0
2142                  None         0.0
2143                  None         0.0
2144                  None         0.0
2145                  None         0.0

                                                 genres  \
0                                                   NaN
1     [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
2     [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
3     [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
...                                                 ...
2141  [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
2142                  [{'id': 12, 'name': 'Adventure'}]
2143  [{'id': 35, 'name': 'Comedy'}, {'id': 9648, 'n...
2144                     [{'id': 27, 'name': 'Horror'}]
2145  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...

                           homepage        id original_language  \
0                               NaN       NaN               NaN
1                                    165200.0                en
2                                      8890.0                de
3        http://thebankjobmovie.com    8848.0                en
4     http://www.berlin-calling.de/   30508.0                de
...                             ...       ...               ...
2141                                  32443.0                ru
2142                                 764494.0                en
2143                                 955758.0                en
2144                                 535476.0                en
2145                                 878744.0                ar

                    original_title  ...     revenue  runtime  \
0                              NaN  ...         NaN      NaN
1                    My Apocalypse  ...         0.0     82.0
2                   Geliebte Clara  ...         0.0    107.0
3                     The Bank Job  ...  64828421.0    112.0
4                   Berlin Calling  ...         0.0    105.0
...                            ...  ...         ...      ...
2141           Бабка Ёжка и другие  ...    718500.0     70.0
2142  Battle of the Monster Trucks  ...         0.0     46.0
2143            Dick Dickman, P.I.  ...         0.0    105.0
2144                  The Artifact  ...         0.0     59.0
2145                        ثلاثون  ...         0.0      0.0

                                       spoken_languages    status  \
0                                                   NaN       NaN
1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2     [{'english_name': 'German', 'iso_639_1': 'de',...  Released
3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4     [{'english_name': 'German', 'iso_639_1': 'de',...  Released
...                                                 ...       ...
2141  [{'english_name': 'Russian', 'iso_639_1': 'ru'...  Released
2142  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2143                                                 []  Released
2144  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2145  [{'english_name': 'Arabic', 'iso_639_1': 'ar',...  Released

                                                tagline  \
0                                                   NaN
1                                The future looks bleak
2
3     The true story of a heist gone wrong... in all...
4
...                                                 ...
2141
2142
2143
2144
2145

                             title  video  vote_average vote_count  \
0                              NaN    NaN           NaN        NaN
1                    My Apocalypse    0.0         4.800        2.0
2                            Clara    0.0         4.700        6.0
3                     The Bank Job    0.0         6.815     1966.0
4                   Berlin Calling    0.0         6.837      300.0
...                            ...    ...           ...        ...
2141        Babka Ezhka and Others    0.0         6.214        7.0
2142  Battle of the Monster Trucks    0.0         2.000        1.0
2143            Dick Dickman, P.I.    0.0         0.000        0.0
2144                  The Artifact    0.0         0.000        0.0
2145                        Thirty    0.0         0.000        0.0

     certification
0              NaN
1
2              NaN
3                R
4
...            ...
2141           NaN
2142            PG
2143           NaN
2144
2145           NaN

[2146 rows x 26 columns]

Movies from 2008:   0%|          | 0/749 [00:00<?, ?it/s]

Data/tmdb_api_results_2009.json
        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0116991    0.0                              None
2     tt0143558    0.0  /mUdwA3Szik9bkIMWEeux49I4EgL.jpg
3     tt0205380    0.0  /dcF1eyBqF2Cb9rGpmsduLjZTNKr.jpg
4     tt0304876    0.0  /kqvRaWpJbyNsNBEwni6IuJo8XqK.jpg
...         ...    ...                               ...
2442  tt7786614    0.0                              None
2443  tt8170758    0.0                              None
2444  tt9330112    0.0                              None
2445  tt9556198    0.0                              None
2446  tt9573984    0.0                              None

                                  belongs_to_collection  budget  \
0                                                   NaN     NaN
1                                                  None     0.0
2                                                  None     0.0
3                                                  None     0.0
4                                                  None     0.0
...                                                 ...     ...
2442                                               None     0.0
2443                                               None     0.0
2444                                               None     0.0
2445  {'id': 866148, 'name': 'Deep Sea Monster Raiga...     0.0
2446  {'id': 691937, 'name': 'Siren: Erotic Ghost', ...     0.0

                                                 genres homepage        id  \
0                                                   NaN      NaN       NaN
1                         [{'id': 18, 'name': 'Drama'}]           492619.0
2                         [{'id': 18, 'name': 'Drama'}]           410363.0
3     [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...           435199.0
4                        [{'id': 35, 'name': 'Comedy'}]           231540.0
...                                                 ...      ...       ...
2442                                                 []           616643.0
2443                                                 []           513464.0
2444  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...           111622.0
2445  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...           488412.0
2446  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...           545661.0

     original_language                   original_title  ... revenue  runtime  \
0                  NaN                              NaN  ...     NaN      NaN
1                   en              Mariette in Ecstasy  ...     0.0     86.0
2                   hu                          Apaföld  ...     0.0     80.0
3                   hi                 Sanam Teri Kasam  ...     0.0    170.0
4                   de                      Unter Strom  ...     0.0     81.0
...                ...                              ...  ...     ...      ...
2442                en                          Ci qing  ...     0.0    100.0
2443                en  The Swell Season: One Step Away  ...     0.0     61.0
2444                ta             நினைத்தாலே இனிக்கும்  ...     0.0    145.0
2445                ja                            深海獣雷牙  ...     0.0     80.0
2446                ja            妖女伝説 セイレーンXX  ~魔性の欲望~  ...     0.0     78.0

                                       spoken_languages    status tagline  \
0                                                   NaN       NaN     NaN
1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2     [{'english_name': 'Hungarian', 'iso_639_1': 'h...  Released
3     [{'english_name': 'Hindi', 'iso_639_1': 'hi', ...  Released
4     [{'english_name': 'German', 'iso_639_1': 'de',...  Released
...                                                 ...       ...     ...
2442                                                 []  Released
2443  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2444  [{'english_name': 'Tamil', 'iso_639_1': 'ta', ...  Released
2445  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
2446  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released

                                title  video  vote_average vote_count  \
0                                 NaN    NaN           NaN        NaN
1                 Mariette in Ecstasy    0.0         0.000        0.0
2                       Father's Acre    0.0         6.800        5.0
3                    Sanam Teri Kasam    0.0         7.000        2.0
4                           Live Wire    0.0         6.000        1.0
...                               ...    ...           ...        ...
2442                           Tattoo    0.0         5.000        1.0
2443  The Swell Season: One Step Away    0.0         0.000        0.0
2444               Ninaithale Inikkum    0.0         4.000        1.0
2445           Deep Sea Monster Raiga    0.0         6.333        6.0
2446          Siren XX: Diabolic Lust    0.0        10.000        2.0

     certification
0              NaN
1            PG-13
2              NaN
3              NaN
4              NaN
...            ...
2442           NaN
2443            NR
2444           NaN
2445           NaN
2446           NaN

[2447 rows x 26 columns]

Movies from 2009:   0%|          | 0/1089 [00:00<?, ?it/s]

In [ ]:
## Checking what data we already in our Data folder using os.listdir
import glob
q = "Data/final_tmdb_data*"
chunked_files = glob.glob(q)
# Showing the first 5
chunked_files

In [ ]:
## Loading all files as df and appending to a list
df_list = []
for file in chunked_files:
    temp_df = pd.read_csv(file, lineterminator='\n', index_col = False)
    df_list.append(temp_df)
    
## Concatenating the list of dfs into 1 combined
df_combined = pd.concat(df_list)
df_combined

In [ ]:
df_combined.info()

In [ ]:
# remove ids that are 0
df_combined = df_combined.loc[df_combined['imdb_id']!='0']
df_combined

In [ ]:
final_fname ='Data/tmdb_combined.csv.gz'
df_combined.to_csv(final_fname, compression='gzip', index=False)