In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [4]:
#Replace missing values with np.nan
basics = basics.replace({'\\N':np.nan})
akas = akas.replace({'\\N':np.nan})
ratings = ratings.replace({'\\N':np.nan})

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [6]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [7]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1961
1  tt0000002            5.8       263
2  tt0000003            6.5      1799
3  tt0000004            5.6       179
4  tt0000005            6.2      2600

In [8]:
#Find any missing values
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1313786
endYear           9603914
runtimeMinutes    6856775
genres             437882
dtype: int64

In [9]:
#Drop missing values in runtime and genres
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          160814
endYear           2726166
runtimeMinutes          0
genres                  0
dtype: int64

In [10]:
#Find value counts for titleType
basics['titleType'].value_counts()

tvEpisode       1395910
short            595496
movie            379443
video            179507
tvMovie           91111
tvSeries          89776
tvSpecial         17851
tvMiniSeries      16987
tvShort            8708
videoGame           318
Name: titleType, dtype: int64

In [11]:
#Drop all titleTypes that aren't movies
basics.drop(basics[basics['titleType'] != 'movie'].index, inplace = True)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

In [12]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 379443 entries, 8 to 9708037
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          379443 non-null  object
 1   titleType       379443 non-null  object
 2   primaryTitle    379443 non-null  object
 3   originalTitle   379443 non-null  object
 4   isAdult         379443 non-null  object
 5   startYear       373044 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  379443 non-null  object
 8   genres          379443 non-null  object
dtypes: object(9)
memory usage: 28.9+ MB

In [13]:
#Drop all startYears before 2000
basics.drop(basics[basics['startYear'] < '2000'].index, inplace = True)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,133,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
76059,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022,NaN,46,Documentary

In [14]:
basics['startYear'].value_counts()

2017    14353
2018    14298
2019    14025
2016    13933
2015    13456
2014    13075
2022    12510
2013    12363
2021    12274
2012    11612
2020    11529
2011    10758
2010    10191
2009     9334
2008     8137
2007     6948
2006     6500
2005     5813
2004     5184
2003     4577
2002     4125
2001     3854
2000     3633
2023     3163
2024       29
2025        8
2029        2
Name: startYear, dtype: int64

In [15]:
basics.drop(basics[(basics['startYear'] > '2022')].index, inplace=True)
basics['startYear'].value_counts()

2017    14353
2018    14298
2019    14025
2016    13933
2015    13456
2014    13075
2022    12510
2013    12363
2021    12274
2012    11612
2020    11529
2011    10758
2010    10191
2009     9334
2008     8137
2007     6948
2006     6500
2005     5813
2004     5184
2003     4577
2002     4125
2001     3854
2000     3633
Name: startYear, dtype: int64

In [16]:
#Drop genres that contain documentary
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [17]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34803      True
61116      True
67669      True
77964      True
78451      True
           ...
9707760    True
9707769    True
9707808    True
9707853    True
9707937    True
Name: tconst, Length: 151725, dtype: bool

In [23]:
basics = basics[keepers]
basics.info()

/var/folders/f5/bdzchg655zxf5v7h5fc_qxfh0000gn/T/ipykernel_17179/230934373.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  basics = basics[keepers]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151009 entries, 34803 to 9707937
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          151009 non-null  object
 1   titleType       151009 non-null  object
 2   primaryTitle    151009 non-null  object
 3   originalTitle   151009 non-null  object
 4   isAdult         151009 non-null  object
 5   startYear       146381 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  151009 non-null  object
 8   genres          151009 non-null  object
dtypes: object(9)
memory usage: 11.5+ MB

In [24]:
# Filter the ratings table down to only include the US by using the filter akas dataframe
keepers2 = ratings['tconst'].isin(akas['titleId'])
keepers2

0           True
1           True
2           True
3           True
4           True
           ...
1292593     True
1292594     True
1292595    False
1292596    False
1292597    False
Name: tconst, Length: 1292598, dtype: bool

In [26]:
#Drop all startYears before 2000
akas.drop(akas[akas['region'] != 'US'].index, inplace = True)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [27]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title_basics.csv.gz', '.ipynb_checkpoints', 'title_akas.csv.gz']

In [29]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [30]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151009 entries, 34803 to 9707937
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          151009 non-null  object
 1   titleType       151009 non-null  object
 2   primaryTitle    151009 non-null  object
 3   originalTitle   151009 non-null  object
 4   isAdult         151009 non-null  object
 5   startYear       146381 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  151009 non-null  object
 8   genres          151009 non-null  object
dtypes: object(9)
memory usage: 11.5+ MB

In [31]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1424064 entries, 5 to 35330135
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1424064 non-null  object
 1   ordering         1424064 non-null  int64
 2   title            1424064 non-null  object
 3   region           1424064 non-null  object
 4   language         3866 non-null     object
 5   types            976227 non-null   object
 6   attributes       46241 non-null    object
 7   isOriginalTitle  1422719 non-null  object
dtypes: int64(1), object(7)
memory usage: 97.8+ MB

In [32]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292598 entries, 0 to 1292597
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1292598 non-null  object
 1   averageRating  1292598 non-null  float64
 2   numVotes       1292598 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.6+ MB