In [17]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
## Importing the OS and JSON Modules
import os,json
## Example
from sqlalchemy.types import *
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

In [2]:
tmdb_data = pd.read_csv('tmdb_results_combined.csv.gz')
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,status,tagline,title,video,vote_average,vote_count,certification,yes_budget,yes_revenue,finances
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN,True,False,True
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.10,8.0,NaN,False,False,False
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,Released,NaN,Gang,0.0,4.00,1.0,NaN,False,False,False
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.11,2162.0,PG,True,True,True

In [24]:
tmdb_data = tmdb_data[['imdb_id', 'revenue', 'budget', 'certification']]
tmdb_data.head()

     imdb_id     revenue      budget certification
0          0         NaN         NaN           NaN
1  tt0113026         0.0  10000000.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694  12854953.0    150000.0            PG

In [3]:
title_basics = pd.read_csv('Data/title_basics.csv.gz')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [4]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88696 entries, 0 to 88695
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          88696 non-null  object
 1   titleType       88696 non-null  object
 2   primaryTitle    88696 non-null  object
 3   originalTitle   88696 non-null  object
 4   isAdult         88696 non-null  int64
 5   startYear       86185 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  88696 non-null  int64
 8   genres          88696 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.1+ MB

In [5]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1967
1  tt0000002            5.8       263
2  tt0000003            6.5      1803
3  tt0000004            5.6       179
4  tt0000005            6.2      2603

## Normalizing Data

In [6]:
## create a col with a list of genres
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
88691,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
88692,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
88693,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = title_basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [9]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [10]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
## make new integer genre_id and drop string genres
title_basics['genre_id'] = title_basics['genres_split'].replace(genre_map)
title_basics = title_basics.drop(columns='genres_split')

In [15]:
genres = pd.DataFrame({'Genre_Name' : genre_map.keys(),
                            'Genre_ID' : genre_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [13]:
# Drop unnecessary columns
title_basics = title_basics.drop(columns = ['originalTitle', 'isAdult', 'titleType', 'genres', 'genre_id'])
title_basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0088751,The Naked Monster,2005.0,NaN,100
4,tt0096056,Crime and Punishment,2002.0,NaN,126

## Saving MySQL Tables

In [18]:
title_basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
endYear           float64
runtimeMinutes      int64
dtype: object

In [19]:
genres.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [20]:
title_genres.dtypes

tconst          object
genres_split    object
dtype: object

In [32]:
tmdb_data.dtypes

imdb_id           object
revenue          float64
budget           float64
certification     object
dtype: object

In [22]:
title_ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

### Creating a Datatype Schema

In [27]:
## Title Basics
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [31]:
## Title Genres
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = title_genres['genres_split'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_genres_schema = {
    "tconst": String(key_len+1), 
    "genres_split": Text(title_len+1)}

In [33]:
## TMDB Data
key_len = tmdb_data['imdb_id'].fillna('').map(len).max()
title_len = tmdb_data['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
tmdb_data_schema = {
    "imdb_id": String(key_len+1), 
    "certification": Text(title_len+1),
    "revenue" : Float(),
    "budget" : Float()}

In [34]:
## Title Ratings
key_len = title_ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_ratings_schema = {
    "tconst": String(key_len+1), 
    'averageRating':Float(),
    'numVotes':Integer()}

### Create Database in Python

In [51]:
connection = "mysql+pymysql://root:AlsamniC032497@localhost/movies"

In [62]:
engine = create_engine(connection)

In [63]:
create_database(connection)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 8] nodename nor servname provided, or not known)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [54]:
# Save to sql with dtype and index=False
title_basics.to_sql('title_basics',engine,dtype=title_basics_schema,if_exists='replace',index=False)

88696

In [58]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [55]:
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',index=False)

164923

In [56]:
tmdb_data.to_sql('tmdb_data',engine,dtype=tmdb_data_schema,if_exists='replace',index=False)

2544

In [57]:
title_ratings.to_sql('title_ratings',engine,dtype=title_ratings_schema,if_exists='replace',index=False)

1294594

In [62]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

## SQL Queries

In [63]:
# Title Basics
q = """SELECT 
    *
FROM
    title_basics
LIMIT 5;"""
pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,None,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70
2,tt0069049,The Other Side of the Wind,2018.0,None,122
3,tt0088751,The Naked Monster,2005.0,None,100
4,tt0096056,Crime and Punishment,2002.0,None,126

In [64]:
# Title genres
q = """SELECT 
    *
FROM
    title_genres
LIMIT 5;"""
pd.read_sql(q, engine)

      tconst genres_split
0  tt0035423       Comedy
1  tt0035423      Fantasy
2  tt0035423      Romance
3  tt0062336        Drama
4  tt0069049        Drama

In [65]:
# TMDB Data
q = """SELECT 
    *
FROM
    tmdb_data
LIMIT 5;"""
pd.read_sql(q, engine)

     imdb_id     revenue      budget certification
0          0         NaN         NaN          None
1  tt0113026         0.0  10000000.0          None
2  tt0113092         0.0         0.0          None
3  tt0116391         0.0         0.0          None
4  tt0118694  12855000.0    150000.0            PG

In [66]:
# Title Ratings
q = """SELECT 
    *
FROM
    title_ratings
LIMIT 5;"""
pd.read_sql(q, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1967
1  tt0000002            5.8       263
2  tt0000003            6.5      1803
3  tt0000004            5.6       179
4  tt0000005            6.2      2603

In [67]:
# Show all tables
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0     title_basics
1     title_genres
2    title_ratings
3        tmdb_data

## Loading More Data

In [6]:
from tqdm.notebook import tqdm_notebook
import seaborn as sns

In [7]:
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
           info['certification'] = c['certification']
    return(info)

In [8]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [9]:
import json
with open('/Users/Alex/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [10]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [11]:
test = get_movie_with_rating("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 178.888,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.708,
 'vote_count': 28431,
 'certification': 'PG-13'}

In [12]:
YEARS_TO_GET = [2002,2003,2004,2005,2006,2007,2008,2009,2010]

In [13]:
errors = [ ]

In [14]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [18]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [19]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    print(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
     #save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
        

    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    
    

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    print(previous_df)
    
    

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    

    # INNER Loop
    
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                 desc=f'Movies from {YEAR}',
                                 position = 1,
                                 leave = True):
            try:
                # Retrieve then data for the movie id
                temp = get_movie_with_rating(movie_id)  
                # Append/extend results to existing file using a pre-made function
                write_json(temp,JSON_FILE)
                # Short 20 ms sleep to prevent overwhelming server
                time.sleep(0.02)
            except Exception as e:
                errors.append([movie_id, e])

    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/9 [00:00<?, ?it/s]

Data/tmdb_api_results_2002.json
   imdb_id
0        0

Movies from 2002:   0%|          | 0/1559 [00:00<?, ?it/s]

Data/tmdb_api_results_2003.json
   imdb_id
0        0

Movies from 2003:   0%|          | 0/1673 [00:00<?, ?it/s]

Data/tmdb_api_results_2004.json
   imdb_id
0        0

Movies from 2004:   0%|          | 0/1886 [00:00<?, ?it/s]

Data/tmdb_api_results_2005.json
   imdb_id
0        0

Movies from 2005:   0%|          | 0/2173 [00:00<?, ?it/s]

Data/tmdb_api_results_2006.json
   imdb_id
0        0

Movies from 2006:   0%|          | 0/2411 [00:00<?, ?it/s]

Data/tmdb_api_results_2007.json
   imdb_id
0        0

Movies from 2007:   0%|          | 0/2560 [00:00<?, ?it/s]

Data/tmdb_api_results_2008.json
   imdb_id
0        0

Movies from 2008:   0%|          | 0/2894 [00:00<?, ?it/s]

Data/tmdb_api_results_2009.json
   imdb_id
0        0

Movies from 2009:   0%|          | 0/3535 [00:00<?, ?it/s]

Data/tmdb_api_results_2010.json
   imdb_id
0        0

Movies from 2010:   0%|          | 0/3843 [00:00<?, ?it/s]

In [37]:
## Checking what data we already in our Data folder using os.listdir
import glob
q = "Data/final_tmdb_data*"
chunked_files = glob.glob(q)
# Showing the first 5
chunked_files

['Data/final_tmdb_data_2006.csv.gz',
 'Data/final_tmdb_data_2008.csv.gz',
 'Data/final_tmdb_data_2004.csv.gz',
 'Data/final_tmdb_data_2000.csv.gz',
 'Data/final_tmdb_data_2010.csv.gz',
 'Data/final_tmdb_data_2002.csv.gz',
 'Data/final_tmdb_data_2007.csv.gz',
 'Data/final_tmdb_data_2009.csv.gz',
 'Data/final_tmdb_data_2005.csv.gz',
 'Data/final_tmdb_data_2001.csv.gz',
 'Data/final_tmdb_data_2003.csv.gz']

In [55]:
## Loading all files as df and appending to a list
df_list = []
for file in chunked_files:
    temp_df = pd.read_csv(file, lineterminator='\n', index_col = False)
    df_list.append(temp_df)
    
## Concatenating the list of dfs into 1 combined
df_combined = pd.concat(df_list)
df_combined

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0103340,0.0,/rhdDnrUmGamF2kk9HZUgTApms2a.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,268253.0,pl,Życie za życie. Maksymilian Kolbe,...,0.0,90.0,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,NaN,Life for Life: Maximilian Kolbe,0.0,6.143,14.0,NaN
2,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,0.0,2.000,2.0,NaN
3,tt0197633,0.0,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520.0,en,Live Freaky! Die Freaky!,...,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky! Die Freaky!,0.0,3.800,8.0,NR
4,tt0204250,0.0,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563.0,en,Death of a Saleswoman,...,0.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,0.0,3.000,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,tt5896628,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}]",NaN,852950.0,en,Harlem's Beauty,...,0.0,95.0,[],Released,NaN,Harlem's Beauty,0.0,0.000,0.0,NaN
1315,tt6066786,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}]",NaN,262232.0,en,Tom and Jerry: Paws for a Holiday,...,0.0,50.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Tom and Jerry: Paws for a Holiday,1.0,4.900,4.0,G
1316,tt6188222,0.0,NaN,NaN,0.0,[],NaN,365592.0,cn,絕種賤男之愛在三級的日子,...,0.0,110.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Crazy Scum: Adult Movies,0.0,4.100,50.0,NaN
1317,tt7246872,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,640680.0,en,Tokyo Bedoone Tavaghof,...,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,"Tokyo, Non-Stop",0.0,0.000,0.0,NaN
1318,tt9641790,0.0,NaN,NaN,400.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,253999.0,en,Clearwater,...,0.0,60.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Clearwater,0.0,0.000,0.0,NaN

In [57]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19334 entries, 0 to 1318
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                19334 non-null  object
 1   adult                  19323 non-null  float64
 2   backdrop_path          10511 non-null  object
 3   belongs_to_collection  1458 non-null   object
 4   budget                 19323 non-null  float64
 5   genres                 19323 non-null  object
 6   homepage               3538 non-null   object
 7   id                     19323 non-null  float64
 8   original_language      19323 non-null  object
 9   original_title         19323 non-null  object
 10  overview               18851 non-null  object
 11  popularity             19323 non-null  float64
 12  poster_path            16938 non-null  object
 13  production_companies   19323 non-null  object
 14  production_countries   19323 non-null  object
 15  release_date           19043 non-null  object
 16  revenue                19323 non-null  float64
 17  runtime                19323 non-null  float64
 18  spoken_languages       19323 non-null  object
 19  status                 19323 non-null  object
 20  tagline                8097 non-null   object
 21  title                  19323 non-null  object
 22  video                  19323 non-null  float64
 23  vote_average           19323 non-null  float64
 24  vote_count             19323 non-null  float64
 25  certification          6001 non-null   object
dtypes: float64(9), object(17)
memory usage: 4.0+ MB

In [58]:
# remove ids that are 0
df_combined = df_combined.loc[df_combined['imdb_id']!='0']
df_combined

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0103340,0.0,/rhdDnrUmGamF2kk9HZUgTApms2a.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,268253.0,pl,Życie za życie. Maksymilian Kolbe,...,0.0,90.0,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,NaN,Life for Life: Maximilian Kolbe,0.0,6.143,14.0,NaN
2,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,0.0,2.000,2.0,NaN
3,tt0197633,0.0,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520.0,en,Live Freaky! Die Freaky!,...,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky! Die Freaky!,0.0,3.800,8.0,NR
4,tt0204250,0.0,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563.0,en,Death of a Saleswoman,...,0.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,0.0,3.000,1.0,NaN
5,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,70595464.0,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,0.0,7.605,6256.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,tt5896628,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}]",NaN,852950.0,en,Harlem's Beauty,...,0.0,95.0,[],Released,NaN,Harlem's Beauty,0.0,0.000,0.0,NaN
1315,tt6066786,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}]",NaN,262232.0,en,Tom and Jerry: Paws for a Holiday,...,0.0,50.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Tom and Jerry: Paws for a Holiday,1.0,4.900,4.0,G
1316,tt6188222,0.0,NaN,NaN,0.0,[],NaN,365592.0,cn,絕種賤男之愛在三級的日子,...,0.0,110.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Crazy Scum: Adult Movies,0.0,4.100,50.0,NaN
1317,tt7246872,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,640680.0,en,Tokyo Bedoone Tavaghof,...,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,"Tokyo, Non-Stop",0.0,0.000,0.0,NaN
1318,tt9641790,0.0,NaN,NaN,400.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,253999.0,en,Clearwater,...,0.0,60.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Clearwater,0.0,0.000,0.0,NaN

In [59]:
final_fname ='Data/tmdb_combined.csv.gz'
df_combined.to_csv(final_fname, compression='gzip', index=False)