In [41]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json
## Example
from sqlalchemy.types import *
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

In [2]:
tmdb_data = pd.read_csv('tmdb_results_combined.csv.gz')
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,status,tagline,title,video,vote_average,vote_count,certification,yes_budget,yes_revenue,finances
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN,True,False,True
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.10,8.0,NaN,False,False,False
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,Released,NaN,Gang,0.0,4.00,1.0,NaN,False,False,False
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.11,2162.0,PG,True,True,True

In [24]:
tmdb_data = tmdb_data[['imdb_id', 'revenue', 'budget', 'certification']]
tmdb_data.head()

     imdb_id     revenue      budget certification
0          0         NaN         NaN           NaN
1  tt0113026         0.0  10000000.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694  12854953.0    150000.0            PG

In [3]:
title_basics = pd.read_csv('Data/title_basics.csv.gz')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [4]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88696 entries, 0 to 88695
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          88696 non-null  object
 1   titleType       88696 non-null  object
 2   primaryTitle    88696 non-null  object
 3   originalTitle   88696 non-null  object
 4   isAdult         88696 non-null  int64
 5   startYear       86185 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  88696 non-null  int64
 8   genres          88696 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.1+ MB

In [5]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1967
1  tt0000002            5.8       263
2  tt0000003            6.5      1803
3  tt0000004            5.6       179
4  tt0000005            6.2      2603

## Normalizing Data

In [6]:
## create a col with a list of genres
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
88691,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
88692,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
88693,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = title_basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
88694,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
88695,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [9]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [10]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
## make new integer genre_id and drop string genres
title_basics['genre_id'] = title_basics['genres_split'].replace(genre_map)
title_basics = title_basics.drop(columns='genres_split')

In [15]:
genres = pd.DataFrame({'Genre_Name' : genre_map.keys(),
                            'Genre_ID' : genre_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [13]:
# Drop unnecessary columns
title_basics = title_basics.drop(columns = ['originalTitle', 'isAdult', 'titleType', 'genres', 'genre_id'])
title_basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0088751,The Naked Monster,2005.0,NaN,100
4,tt0096056,Crime and Punishment,2002.0,NaN,126

## Saving MySQL Tables

In [18]:
title_basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
endYear           float64
runtimeMinutes      int64
dtype: object

In [19]:
genres.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [20]:
title_genres.dtypes

tconst          object
genres_split    object
dtype: object

In [32]:
tmdb_data.dtypes

imdb_id           object
revenue          float64
budget           float64
certification     object
dtype: object

In [22]:
title_ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

### Creating a Datatype Schema

In [27]:
## Title Basics
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [31]:
## Title Genres
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = title_genres['genres_split'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_genres_schema = {
    "tconst": String(key_len+1), 
    "genres_split": Text(title_len+1)}

In [33]:
## TMDB Data
key_len = tmdb_data['imdb_id'].fillna('').map(len).max()
title_len = tmdb_data['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
tmdb_data_schema = {
    "imdb_id": String(key_len+1), 
    "certification": Text(title_len+1),
    "revenue" : Float(),
    "budget" : Float()}

In [34]:
## Title Ratings
key_len = title_ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_ratings_schema = {
    "tconst": String(key_len+1), 
    'averageRating':Float(),
    'numVotes':Integer()}

### Create Database in Python

In [51]:
connection = "mysql+pymysql://root:AlsamniC032497@localhost/movies"

In [52]:
engine = create_engine(connection)

In [53]:
create_database(connection)

In [54]:
# Save to sql with dtype and index=False
title_basics.to_sql('title_basics',engine,dtype=title_basics_schema,if_exists='replace',index=False)

88696

In [58]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [55]:
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',index=False)

164923

In [59]:
engine.execute('ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0208942' for key 'title_genres.PRIMARY'")
[SQL: ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [56]:
tmdb_data.to_sql('tmdb_data',engine,dtype=tmdb_data_schema,if_exists='replace',index=False)

2544

In [61]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'tmdb_data.PRIMARY'")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [57]:
title_ratings.to_sql('title_ratings',engine,dtype=title_ratings_schema,if_exists='replace',index=False)

1294594

In [62]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

## SQL Queries

In [63]:
# Title Basics
q = """SELECT 
    *
FROM
    title_basics
LIMIT 5;"""
pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,None,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70
2,tt0069049,The Other Side of the Wind,2018.0,None,122
3,tt0088751,The Naked Monster,2005.0,None,100
4,tt0096056,Crime and Punishment,2002.0,None,126

In [64]:
# Title genres
q = """SELECT 
    *
FROM
    title_genres
LIMIT 5;"""
pd.read_sql(q, engine)

      tconst genres_split
0  tt0035423       Comedy
1  tt0035423      Fantasy
2  tt0035423      Romance
3  tt0062336        Drama
4  tt0069049        Drama

In [65]:
# TMDB Data
q = """SELECT 
    *
FROM
    tmdb_data
LIMIT 5;"""
pd.read_sql(q, engine)

     imdb_id     revenue      budget certification
0          0         NaN         NaN          None
1  tt0113026         0.0  10000000.0          None
2  tt0113092         0.0         0.0          None
3  tt0116391         0.0         0.0          None
4  tt0118694  12855000.0    150000.0            PG

In [66]:
# Title Ratings
q = """SELECT 
    *
FROM
    title_ratings
LIMIT 5;"""
pd.read_sql(q, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1967
1  tt0000002            5.8       263
2  tt0000003            6.5      1803
3  tt0000004            5.6       179
4  tt0000005            6.2      2603

In [67]:
# Show all tables
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0     title_basics
1     title_genres
2    title_ratings
3        tmdb_data